/*css overwrite start*/
.bg-light {
	background-color: #02aadd !important;
}
/*css overwrite end*/

.margin-top-20{
	margin-top: 20px;
}

.featured-img {
	max-height: 200px;
}

.footer-bottom {
	padding: 20px;
	margin-top: 20px;
	background: #02aadd;
}